@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Titillium+Web:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container_grid {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

h1 {
    display: none;
}

header {
    background-color: #1E1C21;
    height: 80px;
}

.cabecalho_alinhamento {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.menu {
    width: 660px;
    display: flex;
    justify-content: space-between;
}

.menu a {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

.menu a:hover {
    color: red;
    scale: 1.1;
}

.barras {
    display: none;
}

svg {
    width: 30px;
    fill: white;
}

/* ----------------------------------- Banner Principal-----------------------------------------------------*/

.banner {
    background-image: url(/img/ImagemBanner.png);
    height: 600px;
    background-size: cover;
}

.posicao_texto {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}


.texto_banner {
    color: white;
    text-align: center;
}

.texto_banner span {
    color: white;
    font-size: 80px;
    text-decoration: none;
    font-family: 'Titillium Web', sans-serif;
}

.texto_banner p {
    color: white;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    margin-bottom: 90px;
}

.texto_banner a {
    color: white;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    background-color: #C31616;
    padding: 20px 35px;
    border-radius: 10px;
}

.texto_banner a:hover {
    color: black;

}


/* ----------------------------------- Game Sections ------------------------------------------------------*/

.ofertas {
    background-color: rgba(30, 28, 33, 1);
    padding: 20px 0px;
}

h2 {
    color: white;
}

.secao_jogos {
    background-color: black;
}

.linha_jogos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 0px;
}

.secao_cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    width: 215px;
    margin: 20px;
}

/* ----------------------------------- Media ------------------------------------------------------*/

@media screen and (max-width: 1100px) {
    
    .menu a {
        font-size: 16px;
    }

    .logo {
        width: 220px;
        margin-right: 20px;
    }
}

@media screen and (max-width: 768px) {
    .menu {
        display: none;
    }

    .barras {
        display: flex;
    }

}